---
import AlertsContainer from "../components/AlertsContainer";
import UsernameInUrlNotifier from "../components/UsernameInUrlNotifier";

const title = "Hacker News Alerts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <body class="bg-neutral-100">
      <main class="mx-auto max-w-prose px-5 md:px-0 md:py-3 mt-3 mb-12">
        <section class="mb-3 md:mb-6">
          <h1 class="text-[1.4rem] md:text-3xl font-bold">
            Instant alerts for <span class="inline-block">Hacker News</span>
            comments and replies
          </h1>
        </section>
        <section class="mb-6 space-y-3">
          <p>
            This is the alpha version of a service that will send email alerts
            whenever someone either...
          </p>
          <ol class="list-[lower-alpha] ml-4">
            <li>Replies to a comment you've made on Hacker News, or...</li>
            <li>Adds a comment to a post you've made on the platform</li>
          </ol>
          <p>
            Right now, the website shows you these alerts here, over the last 24
            hours.
          </p>
        </section>
        <section>
          <UsernameInUrlNotifier client:only="react" />
          <AlertsContainer client:load url={Astro.url.toString()} />
        </section>
      </main>
    </body>
  </body>
</html>
