<section id="#contact" class="mb-6">
  <h2 class="text-2xl font-bold mb-3">Contact</h2>
  <p>
    Have questions/feedback? I'm <a
      href="https://www.linkedin.com/in/mihailmarian/"
      class="underline"
      target="_blank">on LinkedIn</a
    >; make sure you add a message to your connection request. Or use <a
      href="https://forms.gle/z5ysJvd8ZjoG7V668"
      class="underline"
      target="_blank">this hideous contact form</a
    >.
  </p>
</section>
